body {
    background-color: #e9e9e9;
    font-family: monospace;
    font-size: 12px;
    color: rgba(21, 21, 21, 0.8);
}

body, html, .fill, #content {
    height: 100%;
    width: 100%;
}

.split-pane {
    height: 96%;
    width: 100%;
}

.modules .children {
    display: none;
}

.modules .children.expanded {
    display: block;
}

.modules .collapse-button {
    color: rgb(110, 110, 110);
    cursor: pointer;
    font-size: 9px;
    line-height: 18px;
    margin-left: -5px;
    margin-top: 5px;
    position: absolute;
}

.modules ol {
    list-style-type: none;
    -webkit-padding-start: 10px;
}

.modules .parent {
    background-color: white;
    border-bottom: 1px solid rgb(240, 240, 240);
    line-height: 18px;
    margin-left: 10px;
    padding: 5px 10px;
}

.modules .parent:hover {
    background-color: rgba(81, 173, 250, 0.48);
    cursor: pointer;
}

.modules .parent .desc {
    color: #a11;
    display: block;
    font-size: 11px;
    font-style: italic;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.modules .parent .search-hl {
    background-color: yellow;
}

.module-tree-enter {
    opacity: 0.01;
    transition: opacity .5s ease-in;
}

.module-tree-enter.module-tree-enter-active {
    opacity: 1;
}

.module-tree-leave {
    opacity: 1;
    transition: opacity .5s ease-in;
}

.module-tree-leave.module-tree-leave-active {
    opacity: 0.01;
}

.left-pane, .separator, .right-pane {
    float: left;
    overflow: hidden;
    -webkit-user-select: none;
    user-select: none;
}

.left-pane, .right-pane {
    height: 100%;
    overflow: scroll;
    position: relative;
}

.left-pane {
    background: #fff;
}

.separator {
    cursor: col-resize;
    height: 100%;
    margin-left: -4px;
    position: fixed;
    width: 8px;
    top: 0;
    z-index: 1;
}

.separator::before {
    background: #000;
    content: '';
    display: block;
    height: 100%;
    margin: 0 auto;
    width: 2px;
}

#toolbar {
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 4%;
    background-color: #fff;
    border-top: 1px solid #e9e9e9;
    padding: 2px;
    z-index: 1;
}

#search-control {
    background-color: #fff;
    border: 1px solid #e9e9e9;
    border-radius: 3px;
    display: block;
    padding: 5px;
    width: 30%;
    position: relative;
}

#search-input {
    background-color: rgba(0,0,0,0);
    border: none;
    width: 100%;
    outline: none;
}

.modules .parent.selected {
    border-color: white;
    box-shadow: inset 0 0 1px rgb(81, 173, 250);
    color: rgb(81, 173, 250);
}

.module-edit, #toolbar {
    font-family: "Helvetica Neue", "Helvetica", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", "ＭＳ Ｐゴシック", arial, sans-serif;
}

.module-edit header {
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    padding: 20px 0;
    background-color: #fff;
}

.module-edit header, .module-edit .field-group {
    box-shadow: rgba(0, 0, 0, 0.219608) 0px 1px 2px 0px;
}

.module-edit textarea {
    height: 100px;
    width: 98%;
}

.module-edit .field-group {
    background-color: #fff;
    padding: 10px;
    border-radius: 6px;
    margin: 15px;
}

.module-edit label {
    color: #717171;
    font-weight: bold;
    font-size: 15px;
    display: block;
    margin-bottom: 5px;
}

.module-edit button {
    left: 50%;
    position: relative;
    background: linear-gradient(#fff, #f0f0f0);
    border: 1px solid #ccc;
    color: #5f5f5f;
    cursor: pointer;
    font-weight: bold;
    text-shadow: 0 1px #fff;
    white-space: nowrap;
    background-color: #f0f0f0;
    padding: 7px 13px;
    border-radius: 3px;
    outline: none;
    transform: translateX(-50%);
    margin-bottom: 20px;
}

.module-edit button:active {
    background-color: #f8f8f8;
    background: linear-gradient(#f0f0f0, #fff);
    border-color: #b8b8b8 #c3c3c3 #ccc;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.33) inset;
}

.ReactCodeMirror {
    border: 1px solid #ccc;;
}

.ReactCodeMirror .CodeMirror {
    height: auto;
}
